[submodule "third_party/hello_imgui"]
	path = third_party/hello_imgui
	url = https://github.com/pthom/hello_imgui/
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/pnggroup/libpng
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
