[submodule "third_party/hello_imgui"]
	path = third_party/hello_imgui
	url = https://github.com/pthom/hello_imgui/
[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/pnggroup/libpng
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/freetype"]
	path = third_party/freetype
	url = https://github.com/freetype/freetype
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "third_party/jtjson"]
	path = third_party/jtjson
	url = https://github.com/jart/json.cpp
